/* General body styles */
body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

/* Header Styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Logo and text inside the header */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
    height: 60px;
    margin-right: 8px;
}

.logo-text {
    font-size: 30px;
    font-weight: bold;
    color: blue;
    margin: 0px 35px 0px 0px;
}

/* Navigation bar styles */
nav {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: blue;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

nav a:hover {
    transform: scale(1.1);
    color: #007FFF;
}

/* Main section styles */
.main-section {
    margin-top: 100px; /* Allow space for the fixed header */
    padding: 20px;
    color: #fff;
}

.main-section h1 {
    font-size: 36px;
    font-weight: bold;
    color: black;
}

main section img {
    max-width: 200px;
    margin-top: 15px;
    border-radius: 50%;
}

article {
    margin-top: 40px;
}

article h1 {
    font-size: 24px;
    color: #fff;
}

article p {
    font-size: 16px;
    color: #bbb;
}

button {
    background-color: #0047AB;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #003f8f;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(56, 56, 138);
    color: #fff;
    font-size: 14px;
    margin-top: 40px;
}
